# Игнорировать файлы и папки, созданные Visual Studio
.vscode/
.vs/
bin/
obj/

# Игнорировать кэши и временные файлы
*.user
*.suo
*.cache
*.log
*.swp

# Игнорировать папку, в которой хранятся пакеты NuGet (если используете NuGet)
packages/

# Игнорировать файлы, созданные ReSharper (если используете ReSharper)
_ReSharper/

# Игнорировать файлы и папки, связанные с Test Explorer
TestResults/

# Игнорировать папку с настройками
.vssettings

# Игнорировать файлы проекта
*.sln

# Игнорировать файлы резервных копий
*~

# Игнорировать кэши компилятора
ipch/

# Игнорировать файлы, связанные с публикацией и развертыванием (например, ClickOnce)
publish/
